PROXMOX_URL=https://<proxmox-ip>:8006
PROXMOX_USER=<user>@pam
PROXMOX_TOKEN_ID=<token-id>
PROXMOX_TOKEN_SECRET=<token-secret>

SSH_KEY=~/.ssh/id_ed25519

# for terraform
TF_VAR_ssh_pub_key="<paste-ssh-public-key>"
TF_VAR_proxmox_root_password="<root-password>"
TF_VAR_proxmox_url=https://<proxmox-ip>:8006
