ROOT_FOLDER=/media/app_configs
MEDIA_FOLDER=/media/files

SONARR_HOME=$MEDIA_FOLDER
SONARR_CONFIG=$ROOT_FOLDER/sonarr/config

RADARR_HOME=$MEDIA_FOLDER
RADARR_CONFIG=$ROOT_FOLDER/radarr/config

PROWLARR_CONFIG=$ROOT_FOLDER/prowlarr/config

BAZARR_HOME=$MEDIA_FOLDER
BAZARR_CONFIG=$ROOT_FOLDER/bazarr/config

JELLYFIN_HOME=$MEDIA_FOLDER
JELLYFIN_CONFIG=$ROOT_FOLDER/jellyfin/config

JELLYSEERR_CONFIG=$ROOT_FOLDER/seerr/config

QBITTORRENT_HOME=$MEDIA_FOLDER
QBITTORRENT_CONFIG=$ROOT_FOLDER/qbittorrent/config

TZ_INFO=America/Fortaleza
PUID=1000
PGID=1000
