CLIENT=other.server
SERVER_ENDPOINT=http://<ip>:9999
AUTH_KEY=<auth-key>

ROOT_FOLDER=/opt/home-server/app_configs

HOMEPAGE_CONFIG=${ROOT_FOLDER}/homepage/config
FORGEJO_CONFIG=${ROOT_FOLDER}/forgejo/config

TZ_INFO=America/Fortaleza
PUID=1000
PGID=1000
